# Ignorar dependências do Node
node_modules/
backend/node_modules/
whatsapp-delivery-bot/node_modules/
.wwebjs_auth/
whatsapp-delivery-bot/.wwebjs_auth/
.wwebjs_cache/
whatsapp-delivery-bot/.wwebjs_cache/

firebase-key.json


# Ignorar arquivos de log e sistema
npm-debug.log
firebase-debug.log
.DS_Store
Thumbs.db
e-key.json
firebase-key.json
